/* Reset base */

/* Filtros */
.filtros {
    padding-top: 3vh;
    text-align: center;
    margin-bottom: 2rem;
}

.filtros input[type="radio"] {
    display: none;
}

.filtros label {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0 0.3rem;
    background: #ccc;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s;
}

.filtros input:checked+label {
    background: #333;
    color: white;
}

/* Galería tipo masonry */
.galeria {
    display: grid;
    width: 70%;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));


}

.clase {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.clase img {
    width: 100%;
    display: block;
    transition: transform 0.3s;
    height: auto;
}

.clase:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    width: 100%;
    padding: 1rem;
    opacity: 0;
    transition: opacity 0.3s;
}

.clase:hover .overlay {
    opacity: 1;
}

.filtro-clases input[type="radio"]:checked+label {
    background-color: #333;
    color: white;
}

/* Ocultar todas por defecto (cuando no es "todos") */
#musculacion:checked~.galeria .clase:not(.musculacion),
#crossfit:checked~.galeria .clase:not(.crossfit),
#yoga:checked~.galeria .clase:not(.yoga),
#spinning:checked~.galeria .clase:not(.spinning) {
    display: none;
}

/* Tabla de horarios */
.schedule table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.schedule th,
.schedule td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

@media (max-width: 768px) {
    .schedule table {
        font-size: 0.8rem;
        /* Ajusta el tamaño en dispositivos pequeños */
    }

    .classes .card-container {
        flex-direction: column;
        /* Hace que las tarjetas se apilen */
    }
}